.nav__items {
  list-style-type: none;
  display: flex;
  align-items: center;
  column-gap: 20px;
  padding: 0;
  margin: 0;
  color: #1a1b22;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}

.nav__item {
  text-decoration: none;
  color: #fff;
}

.nav__item-dark {
  color: #1a1b22;
}

.nav__item-active {
  padding: 15px;
  border-bottom: 3px solid #fff;
}

.nav__item-active-dark {
  padding: 15px;
  border-bottom: 3px solid #1a1b22;
}

.nav__button {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  border-radius: 40px;
  border: 1px solid #fff;
  width: 176px;
  height: 48px;
  background-color: transparent;
}

.nav__button:hover {
  cursor: pointer;
}

.nav__button-dark {
  color: #1a1b22;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  border-radius: 40px;
  border: 1px solid #1a1b22;
  width: 112px;
  height: 48px;
  background-color: transparent;
}

.nav__button-dark {
  cursor: pointer;
}

.nav__logout {
  margin-left: 10px;
}

.nav__hamburger {
  display: none;
}

@media screen and (max-width: 500px) {
  .nav {
    background-color: #1a1b22;
    width: 100vw;
  }

  .nav__hamburger {
    position: absolute;
    display: block;
    top: 16px;
    right: 16px;
  }

  .nav__items {
    display: none;
  }

  .nav__items-active {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style-type: none;
    padding: 0;
    margin: 0;
    color: #1a1b22;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
  }

  .nav__item {
    color: #fff;
    padding: 16px;
    align-self: center;
  }

  .nav__item-dark {
    color: #fff;
    padding: 16px;
    align-self: center;
  }

  .nav__item-active {
    border-bottom: none;
  }

  .nav__button {
    width: 288px;
    height: 56px;
  }

  .nav__button-dark {
    width: 288px;
    height: 56px;
    color: #fff;
    border: 1px solid #fff;
  }
}
