.about {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  padding: 0 104px;
  box-sizing: border-box;
}

.about__image {
  height: 464px;
  width: 464px;
  border-radius: 50%;
  margin-top: 80px;
  margin-right: 65px;
}

.about__content {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about__header {
  text-align: left;
  font-family: "Roboto Slab", sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
  color: #1a1b22;
}

.about__description {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-align: left;
}

@media screen and (max-width: 880px) {
  .about {
    padding-right: 40px;
    padding-left: 40px;
  }
  .about__image {
    width: 232px;
    height: 232px;
    margin-top: 61px;
    margin-right: 32px;
    padding: 0px;
  }

  .about__content {
    max-width: 424px;
  }

  .about__header {
    font-size: 30px;
    line-height: 40px;
  }

  .about__description {
    font-size: 18px;
    line-height: 24px;
  }
}
