.about {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  display: flex;
}

.about__image {
  height: 464px;
  width: 464px;
  border-radius: 50%;
  margin-top: 80px;
  margin-left: 104px;
  margin-right: 65px;
}

.about__content {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  font-family: "Roboto Slab", sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
}

.about__description {
  font-family: "Roboto Slab", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}
