.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 30px 104px;
  box-sizing: border-box;
}

.footer__title {
  margin: 0px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #b6bcbf;
}

.footer__items {
  list-style-type: none;
  display: flex;
  align-items: center;
  column-gap: 20px;
  padding: 0;
  margin: 0 24px 0 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #1a1b22;
}

.footer__images {
  display: flex;
  justify-content: space-between;
  width: 75px;
}

@media screen and (max-width: 880px) {
  .footer {
    margin-top: 0;
    max-width: 880px;
    padding: 24px 40px;
  }

  .footer__title {
    margin: 0;
  }

  .footer__items {
    margin: 0px;
  }
}

@media screen and (max-width: 500px) {
  .footer {
    margin-top: 128px;
    max-width: 500px;
    padding: 20px 16px;
  }
}
