.saved-cards {
  background-color: #f5f6f7;
}

.saved-cards__container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 62px 104px;
  box-sizing: border-box;
}

@media screen and (max-width: 880px) {
  .saved-cards {
    padding-right: 40px;
    padding-left: 40px;
  }
}
