.searchform__form {
  display: flex;
  position: relative;
}

.searchform__input {
  width: 608px;
  height: 64px;
  padding-left: 24px;
  border-radius: 40px;
  border: none;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #1a1b22;
}

.searchform__input:focus {
  outline: none;
}

.searchform__submit {
  width: 168px;
  height: 64px;
  background-color: #2f71e5;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  border-radius: 40px;
  border: none;
  position: absolute;
  right: 0px;
}

.searchform__submit:hover {
  cursor: pointer;
  background-color: #347eff;
}

.searchform__submit:active {
  cursor: pointer;
  background-color: #2a65cc;
}

@media screen and (max-width: 880px) {
  .searchform__input {
    width: 452px;
    height: 56px;
  }

  .searchform__submit {
    width: 160px;
    height: 56px;
  }
}
